<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
            <!--connectionString="Data Source=SLBRAVO_06;Initial Catalog=pharmacy;Integrated Security=True"-->
			 
		<!--connectionString="Data Source=LAPTOP-C1TUUL4P;Initial Catalog=pharmacy;Integrated Security=True"-->
        <add name="medizine.Properties.Settings.pharmacyConnectionString"
			 connectionString="Data Source=.;Initial Catalog=pharmacy;Integrated Security=True"
            providerName="System.Data.SqlClient" />

		<add name="MSSQL_DB_Connection" connectionString="data source= .; database= pharmacy; integrated security = True" />

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>